<div>
  <div class="box box-shadow guiblock background-color-1" style="padding: 1em">
    <p class="centered_text"><a href="/admin/rates/season-defs"><%=t.rates_console.seasons%></a></p>
  </div>
  <div class="box box-shadow guiblock background-color-2"  style="padding: 1em">
    <p class="centered_text"><a href="/admin/rates/factor-defs"><%=t.rates_console.factors%></a></p>
  </div>     
  <div class="box box-shadow guiblock background-color-1"  style="padding: 1em">
    <p class="centered_text"><a href="/admin/rates/price-defs"><%=t.rates_console.rates%></a></p>
  </div>
</div>