<div class="top-navigation-bar">
  <h2 class="entity-title">Modificaci칩n masiva de precios</h2>
</div>
<div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000">
</div>
<div id="page_wrapper" class="all-space">
  <form name="adjust_prices" id="adjust_prices">
  	<div>
       <h3>Tipo de ajuste</h3>
       <div class="formrow">
         <input type="radio" name="type" value="direct">Modifica el precio directamente</input>
       </div>
       <div class="formrow">
         <input type="radio" name="type" value="adjust" checked="checked">No modifica el precio directamente (cuando desea que la modificaci칩n pueda deshacerse f치cilmente con la opci칩n de reset)</input>
       </div>
  	   <div id="amount_container" class="formrow">	
  	   	 <h3>Importe</h3>
  	   	 <select id="amount_operation" name="amount_operation" class="fieldcontrol">
            <option value="*" selected="selected">Multiplicar</option>
            <option value="+">Sumar</option>
            <option value="-">Restar</option>
            <option value="/">Dividir</option>
            <option value=" ">Reset</option>            
  	   	 </select>
         <input type="text" name="amount" id="amount" placeholder="Introduzca el importe"/>
       </div>       
  	</div>
  	<div class="container_12">
      <div class="grid_6">
        <h3>Temporadas</h3>
        <select name="season_def" id="season_def"></select>
        <div id="seasons"></div>
      </div>
      <div class="grid_6">
  	    <h3>Tarifas</h3>
        <div id="price_def"></div>
      </div>
    </div>
    <div class="top-margin">
      <input id="process_btn" type="button" class="form-button blue-button" value="Procesar" style="width:100%"</>
    </div>
  </form>
</div>	