<h2><%=t.rates_console.title%></h2>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/rates/season-defs"><%=t.rates_console.seasons%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-2"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/rates/factor-defs"><%=t.rates_console.factors%></a></p>
    </div>     
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1"  style="padding: 3em">
      <p class="centered_text"><a href="/admin/rates/price-defs"><%=t.rates_console.rates%></a></p>
    </div>
  </div>
</div>