<%= include 'season_definition_edition.js'.to_sym %>

require(['jquery','autonumeric','jquery.formparams','jquery.toast'], function($) {
ratePriceAssistantModel = {

  updatePriceDefiniton: function(form) {

      var request = $(form).formParams();
      var requestJson = JSON.stringify(request);

      $.ajax({
          type: 'PUT',
          data : requestJson,
          url : '/api/rate-price-def',
          success: function(data, textStatus, jqXHR) {
              $.toast({
                  heading: 'Tarifa actualizada',
                  text: 'Tarifa actualizada con éxito',
                  position: 'top-right',
                  bgColor: 'rgb(56, 154, 56)',
                  textColor: 'white',
                  loader: false,
                  stack: false
              });
          },
          error: function(data, textStatus, jqXHR) {
              alert('Error actualizando tarifa');
          }
      });


  },

  updatePrice: function(id, value) {

       var json_request = JSON.stringify({id: parseInt(id), price: parseFloat(value)});

       $.ajax({
               type: 'PUT',
               data : json_request,
               url : '/api/rate-price',
               success: function(data, textStatus, jqXHR) {
               },
               error: function(data, textStatus, jqXHR) {
                 alert('Error updating price');
               }
           });

  },

  createPrice: function(priceDefinitionId, seasonId, units, value) {

       var json_request = JSON.stringify({price_definition: {id: parseInt(priceDefinitionId)},
                                          season: {id: parseInt(seasonId)}, 
                                          units: parseInt(units),
                                          price: parseFloat(value)});

       $.ajax({
               type: 'POST',
               data : json_request,
               url : '/api/rate-price',
               success: function(data, textStatus, jqXHR) {
                 var id=priceDefinitionId+'-'+seasonId+'-'+units;
                 $('#'+id).replaceWith(
                  '<form name="update_price" id="' + id + '">'+
                    '<input type="text" size="5" maxlenght="10" name="' + data.id + '" value="' + value + '" class="price_update right_text">'+
                  '</form>');
                 $('#'+id + "> .price_update").bind('change', function() {
                    ratePriceAssistantController.priceChanged($(this));  
                 });
               },
               error: function(data, textStatus, jqXHR) {
                 alert('Error creating price');
               }
           });

  }

};

ratePriceAssistantController = {

  updatePriceDefinitionButtonClick: function(form) {

      ratePriceAssistantModel.updatePriceDefiniton(form);

  },

  priceChanged: function(control) {
  	 if (control[0].form.name == 'create_price') {
       ratePriceAssistantModel.createPrice($(control[0].form['price_definition_id']).val(),
                                           $(control[0].form['season_id']).val(),
                                           $(control[0].form['units']).val(), 
                                           control[0].value);
  	 }
  	 else 
  	 	if (control[0].form.name = 'update_price') {
        ratePriceAssistantModel.updatePrice(control[0].name, 
                                            control[0].value);
  	 	}
  },

  editSeasonClick: function() {

      $('#seasons_modal .modal-title').html('Temporadas');
      $('#seasons_modal').modal('show');

  }

};

ratePriceAssistantView = {

  init: function() {

    this.setupPriceDefinitionEvents();
    this.setupPriceEvents();
    $('#edit_season').bind('click', function(){
          ratePriceAssistantController.editSeasonClick();
    });

    seasonDefinitionEditionModel.addListener('seasons_modified', function(event) {
       ratePriceAssistantView.refresh();
    });

  },

  setupPriceDefinitionEvents: function() {
      $('#update_price_definition_button_<%=@price_definition.id%>').bind('click', function() {
          ratePriceAssistantController.updatePriceDefinitionButtonClick($(this)[0].form);
      });
      $('.price_definition').autoNumeric('init',{aSep:''});
  },

  setupPriceEvents: function() {
      $('.price_update').bind('change', function() {
          ratePriceAssistantController.priceChanged($(this));
      });

      $('.price_create').bind('change', function() {
          ratePriceAssistantController.priceChanged($(this));
      });

      $('.price_update').autoNumeric('init',{aSep:''});
      $('.price_create').autoNumeric('init',{aSep:''});

  },

  refresh: function() {
      var priceDefinitionId = $('#rates_detail').attr('data-price-definition-id');
      $('#rates_detail_prices').load(
          '/admin/rates/prices/' + priceDefinitionId + '/detail',
          function(){
              ratePriceAssistantView.setupPriceEvents();
          });

  }

};

ratePriceAssistantView.init();
});