<div id="page_wrapper">

  <div id="rates_header" class="content">
  <%= partial(:rate_assistant_header) %>
  </div>

  <div id="rates_detail" class="content">
    <%= partial(:rate_assistant_rates_detail_no_season) %>
  </div>
</div>