require(['jquery','autonumeric','jquery.formparams','jquery.toast'], function($) {
ratePriceAssistantNoSeasonModel = {

  updatePriceDefiniton: function(form) {

      var request = $(form).formParams();
      console.log(request);
      var requestJson = JSON.stringify(request);

      $.ajax({
          type: 'PUT',
          data : requestJson,
          url : '/api/rate-price-def',
          success: function(data, textStatus, jqXHR) {
              $.toast({
                  heading: 'Tarifa actualizada',
                  text: 'Tarifa actualizada con éxito',
                  position: 'top-right',
                  bgColor: 'rgb(56, 154, 56)',
                  textColor: 'white',
                  loader: false,
                  stack: false
              });
          },
          error: function(data, textStatus, jqXHR) {
              alert('Error actualizando tarifa');
          }
      });


  },

  updatePrice: function(id, value) {

       var json_request = JSON.stringify({id: parseInt(id), price: parseFloat(value)});

       $.ajax({
               type: 'PUT',
               data : json_request,
               url : '/api/rate-price',
               success: function(data, textStatus, jqXHR) {
               },
               error: function(data, textStatus, jqXHR) {
                 alert('Error updating price');
               }
           });

  },

  createPrice: function(priceDefinitionId, units, value) {

       var json_request = JSON.stringify({price_definition: {id: parseInt(priceDefinitionId)},
                                          units: parseInt(units),
                                          price: parseFloat(value)});

       $.ajax({
               type: 'POST',
               data : json_request,
               url : '/api/rate-price',
               success: function(data, textStatus, jqXHR) {
                 var id=priceDefinitionId+'-'+units;
                 $('#'+id).replaceWith(
                  '<form name="update_price" id="' + id + '">'+
                    '<label for="'+data.id+'" class="right-margin">'+
                    '<%=t.rate_price_assistant.unit%>' +
                    '</label>' +                 
                    '<input type="text" size="5" maxlenght="10" name="' + data.id +
                       '" value="' + value + '" class="price_update right_text">'+
                  '</form>');
                 $('#'+id + "> .price_update").bind('change', function() {
                    ratePriceAssistantNoSeasonController.priceChanged($(this));  
                 });
               },
               error: function(data, textStatus, jqXHR) {
                 alert('Error creating price');
               }
           });

  }

};

ratePriceAssistantNoSeasonController = {

    updatePriceDefinitionButtonClick: function(form) {
        ratePriceAssistantNoSeasonModel.updatePriceDefiniton(form);
    },

    priceChanged: function(control) {
  	 if (control[0].form.name == 'create_price') {
       ratePriceAssistantNoSeasonModel.createPrice($(control[0].form['price_definition_id']).val(),
                                           $(control[0].form['units']).val(), 
                                           control[0].value);
  	 }
  	 else 
  	 	if (control[0].form.name = 'update_price') {
        ratePriceAssistantNoSeasonModel.updatePrice(control[0].name, 
                                            control[0].value);
  	 	}
  }

};

ratePriceAssistantNoSeasonView = {

  init: function() {

    $('.price_update').bind('change', function() {
      ratePriceAssistantNoSeasonController.priceChanged($(this));  
    });

    $('.price_create').bind('change', function() {
      ratePriceAssistantNoSeasonController.priceChanged($(this));  
    });

    $('.price_update').autoNumeric('init',{aSep:''});
    $('.price_create').autoNumeric('init',{aSep:''});

    $('#update_price_definition_button_<%=@price_definition.id%>').bind('click', function() {
        ratePriceAssistantNoSeasonController.updatePriceDefinitionButtonClick($(this)[0].form);
    });
    $('.price_definition').autoNumeric('init',{aSep:''});

  }

};

ratePriceAssistantNoSeasonView.init();
});